.section3Page{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

/* iv.	반응형 레이아웃 배치. */
.boxContainerMo{
    width: 100%; height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.boxContainerTa{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.boxContainerPc{
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* ii. 페이지 중앙에 배치되는 200px*200px 크기의 div 3개 생성. */
.box{
    width: 200px; height: 200px;
    border: 1px solid red;
    box-sizing: border-box;
}
.boxPc{
    width: 200px; height: 200px;
    border: 2px solid #000;
    box-sizing: border-box;
}

/* 1번 div */
.boxPc:nth-child(1){
    background-color: #000;
    transition: .6s;
    position: relative;
    overflow: hidden;
}
.textBox{
    position: absolute;
    bottom: -200px;
    left: -2px;
    width: 200px; height: 200px;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: .6s;
}

/* 2번 div */
.boxPc:nth-child(2){
    background-color: #f90;
}
.border1{
    width: 100%; height: 100%;
    border: 20px solid #00c;
    box-sizing: border-box;
    display: none;
}
.border2{
    width: 100%; height: 100%;
    border: 20px solid #c00;
    box-sizing: border-box;
    display: none;
}

/* 3번 div */
.boxPc:nth-child(3){
    background-color: #aaa;
    box-sizing: border-box;
}
.countClickBox{
    width: 200px; height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countClickBox:nth-child(1)::before{
    content: "클릭한 횟수: " attr(count);
}
.countClickBox:nth-child(2)::after{
    content: "div를 클릭한 횟수: " attr(count);
}